<%= @player_one.name %> vs. <%= @player_two.name %><br>
<%= @player_two.name %> has <%= @player_two.current_hit_points %> hit points<br>

<% if @confirm %>
	<%= @confirm %>
<% end %>

<form action = "/attack" method = "post">
	<input type = "submit" value = "Attack!"/>
</form>